@model Messages_OpenModel
@{
    string branchTitle = Context.RequestServices.GetRequiredService<IConfiguration>()["BranchTitle"] ?? "اداره";
    //ViewBag.AttachedMediaFile
    //ViewBag.AttachedPdfFile
}

<!------------------------------------------------------------------>
<style>
    #form1d898ccb95204072a1885989d2a10412 {
        width: 60%;
        margin: auto;
    }

    #form1d898ccb95204072a1885989d2a10412 input[type=text],
    #form1d898ccb95204072a1885989d2a10412 input[type=file],
    #form1d898ccb95204072a1885989d2a10412 select,
    #form1d898ccb95204072a1885989d2a10412 textarea,
    #form1d898ccb95204072a1885989d2a10412 a {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #form1d898ccb95204072a1885989d2a10412 textarea {
        resize: vertical;
    }

    #form1d898ccb95204072a1885989d2a10412 label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    #form1d898ccb95204072a1885989d2a10412 a#delete-btn {
        background-color: orange;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    #form1d898ccb95204072a1885989d2a10412 a#delete-btn:hover {
        background-color: red;
    }

    #form1d898ccb95204072a1885989d2a10412 a#reply-btn {
        background-color: rgb(205, 247, 255);
        color: #333;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: left;
    }

    #form1d898ccb95204072a1885989d2a10412 a#reply-btn:hover {
        background-color: rgb(105, 255, 210);
    }

    #form1d898ccb95204072a1885989d2a10412 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    #form1d898ccb95204072a1885989d2a10412 .col-25 {
        float: right;
        width: 25%;
        margin-top: 6px;
    }

    #form1d898ccb95204072a1885989d2a10412 .col-75 {
        float: right;
        width: 75%;
        margin-top: 6px;
    }

    @@media screen and (max-width: 800px) {
        #form1d898ccb95204072a1885989d2a10412 {
            width: 100%;
        }
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @@media screen and (max-width: 600px) {

        #form1d898ccb95204072a1885989d2a10412 .col-25,
        #form1d898ccb95204072a1885989d2a10412 .col-75,
        #form1d898ccb95204072a1885989d2a10412 input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
</style>
<div class="clearfix">
    <style>
        a#back-btn {
            background-color: rgb(205, 247, 255);
            color: #333;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: left;
            display: block;
            width: fit-content;
            margin: 10px 0 10px 20%;
        }

        a#back-btn:hover {
            background-color: rgb(105, 255, 210);
        }
    </style>
    <a onclick="window.history.back(); " id="back-btn">
        برگشت
    </a>
    <!--p style="width: fit-content;float:right;margin: 20px 20% 10px 0;">در تاریخ
        <span id="date-span">Model.Date.ToString("yyyy/MM/dd", new CultureInfo("fa-IR"))</span>
    </p-->
    <!--script>
        let dateOption = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        document.getElementById("date-span").innerHTML = new Date("Model.Date.ToString()").toLocaleDateString("fa-IR", dateOption);
    </script-->
</div>
<div id="form1d898ccb95204072a1885989d2a10412">
    <form>
        <div class="clearfix">
            <div class="col-25">
                <label>تاریخ:</label>
            </div>
            <div class="col-75">
                <input type="text" readonly value="@Model.Date.ToString("yyyy/MM/dd", new CultureInfo("fa-IR"))">
            </div>
        </div>
        <div class="clearfix">
            <div class="col-25">
                <label>
                    از طرف:
                </label>
            </div>
            <div class="col-75" style="position: relative;">
                <input type="text" readonly
                    value="@(Model.FromUser?.FullName ?? "_") _ @(Model.FromUser?.Post ?? "_") _ @(Model.FromUser?.Branch ?? "_")">
                <a asp-controller="Account" asp-action="Profile" asp-route-userGuid="@Model.FromUser?.UserGuid"
                    style="position: absolute;left:0%;width:fit-content;font-size:13px;text-decoration:none;">مشاهده
                    پروفایل</a>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-25">
                <label>موضوع:</label>
            </div>
            <div class="col-75">
                <input type="text" readonly value="@Model.Subject">
            </div>
        </div>
        <div class="clearfix">
            <div class="col-25">
                <label>متن پیام:</label>
            </div>
            <div class="col-75">
                <textarea readonly style="height:200px">@Model.MessageText</textarea>
            </div>
        </div>
        @if (Model.AttachedFileName is not null)
        {
            <div class="clearfix">
                <div class="col-25">
                    <label>پیوست:</label>
                </div>
                <div class="col-75">
                    <a asp-action="DownloadAttachedFile" asp-route-messageGuid="@Model.MessageGuid"
                        style="display:block;width:fit-content;" download="">
                        @Model.AttachedFileName
                    </a>
                </div>
                <br>
            </div>

            @if (ViewBag.AttachedMediaFile)
            {
                <div class="clearfix">
                    <div class="col-25">
                        <label>مشاهده:</label>
                    </div>
                    <div class="col-75">
                        <a asp-action="DisplayMedia" asp-route-messageGuid="@Model.MessageGuid"
                            style="display:block;width:fit-content;" target="_blank">
                            مشاهده فایل رسانه
                        </a>
                    </div>
                    <br>
                </div>
            }
            else if (ViewBag.AttachedPdfFile)
            {
                <div class="clearfix">
                    <div class="col-25">
                        <label>مشاهده:</label>
                    </div>
                    <div class="col-75">
                        <a asp-action="DownloadAttachedFile" asp-route-messageGuid="@Model.MessageGuid"
                            style="display:block;width:fit-content;" target="_blank">
                            مشاهده فایل پی دی اف
                        </a>
                    </div>
                    <br>
                </div>
            }
        }
        <div class="clearfix">
            @if (User.IsInRole("Messages_Admins"))
            {
                <a asp-action="DeleteMessage" asp-route-messageGuid="@Model.MessageGuid" id="delete-btn"
                    style="display:block;width:fit-content;">حذف پیام
                </a>
            }
            @if (Model.FromUser?.UserName != User.Identity!.Name!)
            {
                <a asp-action="NewMessage" asp-route-toUserGuid="@Model.FromUser?.UserGuid" id="reply-btn"
                    style="display:block;width:fit-content;">پاسخ
                </a>
            }
        </div>
    </form>
</div>


@if (Model.FromUser?.UserName == User.Identity?.Name ||
User.IsInRole("Messages_Admins"))
{
    <style>
        .hr5012ee2da3a449a78539e32f813e132c {
            margin: 50px 0;
            overflow: visible;
            position: relative;
        }

        .hr5012ee2da3a449a78539e32f813e132c::after {
            /*content: "مخاطبان: همه";*/
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            font-weight: bold;
            border: 1px solid gray;
            background-color: white;
            padding: 5px 10px;
        }
    </style>
    <style>
        #hr5012ee2da3a449a78539e32f813e132c3::after {
            content: "مخاطبان(بازدید کننده ها تیک زده شده)";
        }
    </style>
    <hr class="hr5012ee2da3a449a78539e32f813e132c" id="hr5012ee2da3a449a78539e32f813e132c3">
    <partial name="ListOfUsers" model="@Model.ToUsers" />
}
